body {
    background: #f4f4f4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1.5pt; /* Creates Space around an Element */
    padding: 5px; /* Generates Space inside an Element */
    line-height: 1.6;
    color: #333 ;
    font-size: 18px;  
 
}

.logo img {
    width: 150px; /* Sets the horizontal size of an element */
    border-radius: 10%; /* Shapes the border */
    margin: 9px 9px;
    
}


.Container { /* Class */
    background-color: #2980b9;
    display: flex; /*Arranges, aligns and distributes space among items in a container */
    justify-content: space-between; /*Equal Spacing, Edge Alignment & Gap Creation */
   
    

}
.contact-info { /* Class  */
    background-color: rgb(9, 9, 50);
    color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 1.0rem;
   text-align: center;
   margin-top: 100px;
   text-decoration: none;  
}
.text-light {
    text-decoration: none;
     display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}
a {
    color: rgb(255, 237, 34);
    text-decoration: none;
}
h1, h3 {
    color: #2c3e50;
}
header nav li {
    display: inline-block;
    margin: 5px 50px;
    

}
header nav a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none; /* Creates none Visual decoratives line to text */
    
}
.crft-1 img { /* Class */
    width: 1040px;
    border-radius: 25px;
    margin: 9px;
    align-items: center;

    
}
.party-1 img { /*Class */
     width: 500px;
    border-radius: 25px;
    margin: 8px;
    float: right; /* Takes an Element out of the normal document flow and places it to the Left or Right  */
    
}
.prototype-1 img { /* Class */
     width: 500px;
    border-radius: 25px;
    margin: 8px;
    
}
.Train-1 video { /* Class */
     width: 500px;
    border-radius: 25px;
    margin: 8px;
}
.sample-1 video { /* Class */
     width: 500px;
    border-radius: 25px;
    margin: 8px;
    float: right;
}
.whatsapp-group-button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}
.whatsapp-group-button:hover {
    background-color: #8d93903a;
}
form {
    display: flex;
    flex-direction: column;

}
form label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}
form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
form .send-button {
    align-items: flex-start;
    margin-top: 20px;
}
.send-button {
    display: inline-block;
    background-color: rgb(244, 81, 81);
    color: #f4f4f4;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
} 
.send-button:hover { /* It's used to Select and apply styles to an element only when the user's mouse cursor is positioned over it */
    background-color: rgb(206, 19, 19);
}
.container-1 { /* Class */
   padding: 50px;
}
.card { /*Class */
    background-image: url(Images/HD-wallpaper-gray-vertical-lines-abstract.jpg);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    margin-top: 40px;
}
.card-2 { /*Class */
    background-image: url(Images/HD-wallpaper-gray-vertical-lines-abstract.jpg);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right; 
   
}
.text-primary {
    text-align: center;
}
.btn {
    margin: 10px 10px;
}
@media (max-width: 900px) {
    .Container {
         width: auto;
        padding: 10px;
        
        display: block;
    }
   
    .background-2  {
        width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .bg-light {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .card {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .card-2 {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .embed-repsonsive embed-repsonsive-16by9 {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .contact-info {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .bg-warning p-3 {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
    .container-1 {
         width: auto;
        padding: 10px;
        text-align: center;
        display: block;
    }
   
}







